<!DOCTYPE html>
<html>
    <head>
        <title>MyWebSite</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
	    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	    <script src="https://kit.fontawesome.com/1b9176ee36.js" crossorigin="anonymous"></script>
  		
	</head>

    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
				<a href="/" class="navbar-brand"><i class="fas fa-dragon"></i></span> RB</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-nav-demo">
				<ul class="nav navbar-nav">
					<li><a href="/pics">Images</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="/about">About</a></li>
					<!-- <li><a href="#">Contact</a></li> -->
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/register"><i class="fa fa-user-plus"></i></a></li>
					<li><a href="/login">Login </i></a></li>
				</ul>
			</div>
		</div>
	</nav>
    
    </div>