<%- include ("partials/header") %> 

<div class="container">
  <div class="jumbotron">
	  	 <!-- <h1> the home page </h1> -->
    <h1><i class="fa fa-camera-retro"></i></span>Rajat Baxi </h1>
    <p>An Awesomely Disciplined and Intelligent Personality.</p> 

    </p>
  </div>
</div>


<%- include ("partials/footer") %> 